@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui";


.main{
    padding: 50px 50px 50px 50px;
}

.text-3xl{
  font-family: "Meow Script", cursive;
  font-weight: 20px;
  font-style: normal;
  font-size: 30px;
}

.text-lg{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  font-size: 20px;
}